{% extends 'base.html.twig' %}

{% block title %}Lista de Clientes{% endblock %}

{% block body %}
    <h1 class="">Lista de Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NOME</th>
                <th>CPF</th>
                <th>DATA DE NASCIMENTO</th>
                <th>DETALHES</th>
                <th>EDITAR</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</th>
                <td>{{ cliente.cpf }}</th>
                <td>{{ cliente.nascimento ? cliente.nascimento|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('cliente_show', {'id': cliente.id}) }}" class="btn btn-light">MOSTRAR</a>
                </td>
                <td>
                    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}" class="btn btn-warning">EDITAR</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">SEM DADOS CADASTRADOS</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cliente_new') }}" class="btn btn-primary my-2">ADICIONAR CLIENTE</a>
{% endblock %}
