{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>NOME</th>
                <td>{{ cliente.nome }}</td>
            </tr>
            <tr>
                <th>CPF</th>
                <td>{{ cliente.cpf }}</td>
            </tr>
            <tr>
                <th>DATA DE NASCIMENTO</th>
                <td>{{ cliente.nascimento ? cliente.nascimento|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>TELEFONES</th>
                {% for telefone in cliente.telefones %}
                    <td>({{telefone.ddd}}) {{telefone.numero}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cliente_index') }}" class="btn btn-primary">VOLTAR PARA A LISTA</a>
    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}" class="btn btn-warning">EDITAR</a>
    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
