{% extends 'base.html.twig' %}

{% block title %}Telefone index{% endblock %}

{% block body %}
    <h1>Lista de Telefones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DDD</th>
                <th>Número</th>
                <th>Detalhes</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for telefone in telefones %}
            <tr>
                <td>{{ telefone.id }}</td>
                <td>{{ telefone.ddd }}</td>
                <td>{{ telefone.numero }}</td>
                <td>
                    <a href="{{ path('telefone_show', {'id': telefone.id}) }}" class="btn btn-light">MOSTRAR</a>
                </td>
                <td>
                    <a href="{{ path('telefone_edit', {'id': telefone.id}) }}" class="btn btn-warning">EDITAR</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">SEM REGISTROS ENCONTRADOS</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('telefone_new') }}" class="btn btn-light my-2">ADICIONAR NOVO</a>
{% endblock %}
