{% extends 'base.html.twig' %}

{% block title %}Operadora index{% endblock %}

{% block body %}
    <h1>Operadora index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operadora in operadoras %}
            <tr>
                <td>{{ operadora.id }}</td>
                <td>{{ operadora.nome }}</td>
                <td>
                    <a href="{{ path('operadora_show', {'id': operadora.id}) }}">show</a>
                    <a href="{{ path('operadora_edit', {'id': operadora.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operadora_new') }}">Create new</a>
{% endblock %}
