<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CRUD PHP with Symfony{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="menu">
            <a href="{{ path('cliente_index') }}" class="btn btn-sucess">Cliente<a>
            <a href="{{ path('telefone_index') }}" class="btn btn-sucess">Telefones<a>
            <a href="{{ path('operadora_index') }}" class="btn btn-sucess">Operadoras<a>
        </div>
        
        {% block body %}{% endblock %}
        
    </body>
</html>
